<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
    <!-- top meunu -->
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/upload-file">Upload file</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <!-- Content -->
    <div class="w3-container">

        <div class="upload-file-container">
            <h2>Upload file</h2>
            <form action="/upload-file" method="POST" enctype="multipart/form-data">
                <label for="file">Avatar</label>
                <input type="file" id="file" name="file">
                <div>
                    <button class="btn-save" type="submit">Save file</button>
                </div>

            </form>
        </div>

        <div class="upload-file-container">
            <h2>Upload multiple file</h2>
            <form action="/upload-multi-file" method="POST" enctype="multipart/form-data">
                <label for="files">Avatar</label>
                <input type="file" id="files" name="files" multiple>
                <div>
                    <button class="btn-save" type="submit">Save file</button>
                </div>

            </form>
        </div>

    </div>

    <!--<img src="/image/avatar.jpg" alt=""> -->
</body>

</html>